# ifdef VENDOR_EDIT 
# ziqing.guo add for config oppo fingerprint compatibility
      config OPPO_FP_COMMON
      bool "config oppo fingerprint compatibility"
	  help
		define this config to compile oppo_fp_common.c for device register
#endif /* VENDOR_EDIT */

