#
# Goodix GT5688 Touchscreen driver
#

config GT5688_TOUCHPANEL_DRIVER
	tristate "Goodix GT5688 touchpanel driver"
	depends on TOUCHSCREEN_GT5688
	default n
	help
	  This is the main file for touchpanel driver for Goodix GT5688
	  touchscreens.

	  Say Y here if you have a Goodix GT5688 touchscreen connected
	  to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called GT5688.

config GT5688_TOUCHPANEL_UPDATE
	tristate "Goodix GT5688 touchpanel auto update support"
	depends on GT5688_TOUCHPANEL_DRIVER
	default n
	help
	  This enables support for firmware update for Goodix GT5688
	  touchscreens.

	  Say Y here if you have a Goodix GT5688 touchscreen connected
	  to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called GT5688_update.

config GT5688_TOUCHPANEL_DEBUG
	tristate "Goodix GT5688 Tools for debuging"
	depends on GT5688_TOUCHPANEL_DRIVER
	default n
	help
	  This is application debug interface support for Goodix GT5688
	  touchscreens.

	  Say Y here if you want to have a Android app debug interface
	  to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called GT5688_tool.
